# Python
__pycache__/
*.pyc
.env
.venv
venv/
.envrc

# Streamlit secrets
.streamlit/secrets.toml

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large data/artifacts
*.zip
*.tar.gz
*.ipynb_checkpoints/
